.popover, .tooltip, body {
    font-family: "Open sans",Helvetica,Arial,sans-serif;
}

.navbar-dark{
    padding:10px 34px;
    background-color:#121212;
}

.navbar-brand{
    margin:unset;
    float:left;
    padding:0;
    height:auto;
}

.navbar-brand h1{
    margin:0;
    text-transform: capitalize;
    font-size:24px;
    margin-left:30px;
}

.navbar-brand>img{
    width:50px;
    display:inline-block;
}

.PageContent{
    margin-top:60px;
}

.PortailTitre{
    margin:50px auto;
    line-height:40px;
    margin-bottom:40px
}

.thumbnail {
    position: relative;
    padding: 0px;
    border:none;
    box-shadow:0 0 10px #ccc;
    border-radius:5px;
    margin-bottom:30px;
}

.thumbnail img{
    border-top-left-radius:5px;
    border-top-right-radius:5px;
}

.section-footer {
    position: absolute;
    width: 100%;

}

.section-footer .container, .section-footer .container-fluid {
    padding-bottom: 120px!important;
}

@media (min-width: 992px){
.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
    float: left;
}
}

.card-body h3{
    margin-top: 0px;
    font-size:20px;
}

.card-body{
    padding:20px;
}

.card-body p{
    margin: 0 0 20px;
}

.card-body a{
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 2rem;
    border-radius:4px;
    padding:1.5rem 3rem;
    width:auto;
    margin:0 auto;

}

.card-body b{
    font-size:12px;
}

/*--------BUTTON ScrollToTop------*/
.scrollup {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    display: none;
    color: white;
    background-color: #005A66;
    border: 1px solid #005A66;
    border-radius:40px;
    text-align: center;
    line-height: 50px;
    z-index: 2;
}
 
.scrollup:hover {
    color: white;
    background-color: #8EB9C5;
    border-color: #8EB9C5;
}

.arrow {
    border: solid white;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 3px;
  }

  .up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }